@inject HomeSpeakerService svc
@inject ILogger<PlayerStatus> logger

<div class="align-middle">
    @serverMessage
</div>

@code {
    protected override void OnInitialized()
    {
        svc.StatusChanged += (_, msg) =>
        {
            try
            {
                serverMessage = msg;
                StateHasChanged();
            }
            catch (Exception ex)
            {
                logger.LogError(ex, "Error handling status change: {message}", msg);
            }
        };
    }
    string? serverMessage;
}
