@page "/aspire"
@layout NoTopLayout
@inject NavigationManager NavManager

<div class="col px-0">
    <iframe id="frame" title="Aspire Dashboard" src=@aspireUrl?.AbsoluteUri frameborder="0" allowfullscreen></iframe>
</div>

@code
{
    private Uri? aspireUrl = null;

    protected override async Task OnInitializedAsync()
    {
        if (aspireUrl is null)
        {
            var baseUri = new Uri(NavManager.BaseUri);
            UriBuilder uriBuilder = new UriBuilder(baseUri)
            {
                Scheme = baseUri.Scheme == Uri.UriSchemeHttps ? Uri.UriSchemeHttp : baseUri.Scheme,
                Port = 18888
            };
            aspireUrl = uriBuilder.Uri;
        }
    }
}
