@inject HomeSpeakerService svc
@inject PlayerStateService PlayerState

<div class="play-controls">
    <button @onclick="PlayOrStop"
            title="@(IsPlaying ? "Stop playing" : "Resume playing")"
            class="btn btn-icon-lg btn-primary play-button">
        <i class="fas @(IsPlaying ? "fa-stop" : "fa-play")"></i>
    </button>
    <button @onclick=Skip title="Skip to next song" class="btn btn-icon btn-outline-primary">
        <i class="fas fa-forward"></i>
    </button>
</div>

@code {
    bool IsPlaying => PlayerState.Status?.StillPlaying == true;

    async Task PlayOrStop()
    {
        if (IsPlaying)
        {
            await svc.StopPlayingAsync();
            return;
        }

        await svc.ResumePlayAsync();
    }

    async Task Skip() => await svc.SkipToNextAsync();
}
