@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar bg-secondary">
        <NavMenu />
    </div>

    <main>
        <article class="content px-1 px-md-4">
            @Body
        </article>
    </main>
</div>

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />