name: Docker Image CI

on:
  push:
  workflow_dispatch:    
    #tags:
    #- '*'
  # To have GitHub Actions deploy a new version, create a new tag
  # git tag -a yyyy.m.d -m yyyy.m.d
  # Then push those tags
  # git push --tags
  # Then a new version will be deployed on the self-hosted runner.

jobs:
  rpi4:
    runs-on: [self-hosted, "${{ matrix.runner}}" ]
    strategy:
      matrix:
        include:
          - runner: kitchen
            airplay_name: "Kitchen HomeSpeaker"
          - runner: upstairs
            airplay_name: "Upstairs HomeSpeaker"

    steps:
    - uses: actions/checkout@v3

    - name: Docker compose pull
      run: docker-compose pull

    - name: Docker compose down
      run: docker-compose down

    - name: Docker compose up
      env:
        COMPOSE_DOCKER_CLI_BUILD: 1
        DOCKER_BUILDKIT: 1
        GOVEE_API_KEY: ${{ secrets.GOVEE_API_KEY }}
        AIRPLAY_NAME: "${{ matrix.airplay_name }}"
      run: docker-compose up -d --build --remove-orphans

    - name: Wait for services to be ready
      run: sleep 25

    - name: Refresh browser on touchscreen
      run: |
        export DISPLAY=:0
        xdotool key F5      
      continue-on-error: 
        true
